<div class="container py-4">
  <h1 class="mb-4 text-center text-primary">Customers</h1>
  <div *ngIf="searchForm" class="mb-4">
    <form [formGroup]="searchForm" (ngSubmit)="handleSearchCustomers()">
      <div class="input-group">
        <span class="input-group-text bg-info text-white">Keyword :</span>
        <input type="text" formControlName="keyword" class="form-control" placeholder="Search customers...">
        <button class="btn btn-info text-white" type="submit">
          <i class="bi bi-search"></i> Search
        </button>
      </div>
    </form>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover align-middle" *ngIf="customers">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th *ngIf="authService.roles.includes('ADMIN')">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers | async">
          <td>{{ customer.id }}</td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.email }}</td>
          <td *ngIf="authService.roles.includes('ADMIN')">
            <button (click)="handleDeleteCustomer(customer)" class="btn btn-danger btn-sm">
              <i class="bi bi-trash"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>